/vendor
/node_modules
/public/storage
/public/compiled_js
/public/mix-manifest.json
/public/css/app.css
/public/css/invoice_pdf.css
/public/css/manifest_pdf.css
Homestead.yaml
Homestead.json
.env
/.idea
config/app.php
config/database.php
composer.lock
package-lock.json
resources/assets/passwordSeed.txt
/storage/bills
/storage/invoices
/storage/manifests
.phpunit*

