body > #container > #content > form > table,
body > #container > #content > form > table > tbody,
body > #container > #content > form > table > tbody > tr {
    width: 100%;
}

body > #container > #content > form > table > tbody > tr > td {
    padding-bottom: 0.25em;
}

body > #container > #content > form > table > tbody > tr > td > label {
    float: left;
    width: 5em;
}
body > #container > #content > form > table > tbody > tr > td > label.large {
    width: 8em;
}

body > #container > #content > form > table > tbody > tr > td > div {
    overflow: hidden;
    display: block;
}

body > #container > #content > form > table > tbody > tr > td > div > select,
body > #container > #content > form > table > tbody > tr > td > div > input {
    margin-left: 0.5em;
    margin-right: 2em;
}

body > #container > #content > form > table > tbody > tr > td > div > select,
body > #container > #content > form > table > tbody > tr > td > div > input {
    width: calc(100% - 2.5em);
}
