html, body {
    min-width: 550px;
}

.disabled {
    color: rgb(84, 84, 84);
}

.centered {
    text-align: center;
}

div {
    display: inline-block;
}

body > #container {
    width: 100%;
}

body > #container > #content {
    width: 75%;
}

body > #container > #buttons {
    width: 20%;
    vertical-align: top;
}

body > #container > #buttons > button {
    width: 100%;
    margin-bottom: 0.5em;
}
