.input-group, .pad-top, .text-muted {
    padding-top: 10px;
}

.card {
    padding: 15px;
}

.nav-tabs {
    padding-top: 20px;
}

.nav-item.nav-link.active {
    border-color: black;
}

.css-2b097c-container, .css-14jk2my-container {
    flex: 1
}
