.input-group, .pad-top, .text-muted {
    padding-top: 10px;
}

.card {
    padding: 15px;
}

.pac-container {
    z-index: 999999999999999 !important;
}

.nav-tabs {
    padding-top: 20px;
}

.css-2b097c-container, .css-14jk2my-container {
    flex: 1
}

.react-datepicker-wrapper, .autocomplete-wrapper {
    padding: 0!important
}

.tabulator-cell.fakeLink {
    cursor:pointer;
    color:blue;
}

.tabulator-cell.fakeLink:hover {
    text-decoration:underline;
    color:darkblue;
}

.modal-80w {
    width: 80%;
    max-width: 80%!important;
}

.bg-tomato {
    background-color: tomato!important;
}
.bg-orange {
    background-color: orange!important
}
.bg-gold {
    background-color: gold!important
}
.bg-lightgreen {
    background-color: lightgreen!important;
}
.bg-gainsboro {
    background-color: white!important
}
