@media print {
    table tfoot {
        display: table-row-group;
    }
}
#watermark {
    display: block;
    position: fixed;
    left: 100px;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    opacity: .5;
    font-size: 100px;
    color: #d9d9d9;
    width: 480px;
    text-align: center;
}
.addresses {
    width: 100%;
}
.addresses > tr > td {
    width: 50%;
}
br {
    display: block;
    margin: 10px;
}
table {
    border-collapse: collapse;
}
table > tbody > tr {
    page-break-inside: avoid;
}
thead {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
table.totals {
    width: auto;
    max-width: 40%;
    float: right;
}
table.totals > thead {
    background: tomato;
    border-bottom: none;
}
table.totals > tbody {
    background: orange;
}
table.totals td {
	padding: 5px;
	font-size: 18;
	text-align: right;
}
.bill_list {
    width: 100%;
}
.bill_list td {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 12px;
}
.bill_list > tbody > tr:nth-child(odd) {
	background: #d6e0f5;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
td.amount {
	text-align: right!important;
}
.subtotal {
    border: none;
    width: 100%;
}
.subtotal td {
    border: none;
}
.text-left {
    padding-left: 2%;
    text-align: left;
}
.text-right {
    padding-right: 2%;
    text-align: right;
}
td.basic, td.warn {
    border: grey solid;
    text-align: center;
    padding-bottom: 0px;
    width: 20%;
}
td.basic h4, td.warn h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
td.basic {
    background: #ADD8E6;
}
td.warn {
    background: orange;
}
table.unpaid_invoices {
    width: 60%;
    max-width: 60%;
    float: left;
    page-break-inside: avoid;
}
table.unpaid_invoices thead {
    page-break-inside: avoid;
    border-top: 0px;
}
table.unpaid_invoices thead h4 {
    margin-bottom: 5px;
}