table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
#manifest_full tbody tr:nth-child(odd), #manifest_overview tbody tr:nth-child(odd), #chargebacks tbody tr:nth-child(odd) {
	background: #d6e0f5;
}
#manifest_full tr td {
    font-size: 14px;
}
.right {
    text-align: right;
}
td.basic h4, td.warn h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
td.basic, td.warn {
    border: grey solid;
    text-align: center;
    margin-bottom: 20px;
    width: 20%;
}
td.basic {
    background: #ADD8E6;
}
td.warn {
    background: orange;
}
.center {
    text-align: center;
}
.red{
    color:red;
}
